<section class="container is-fluid">
{{#if supplier }}
<form action="/supplier/update" method="POST" id="supplierForm">
<input type="hidden" name="supplier_id" value="{{supplier._id}}">
{{else }}
<form action="/supplier/save" method="POST" id="supplierForm">
{{/if }}
    <div class="columns">
      <div class="column">

        <div class="field">
          <label class="label">Supplier name</label>
          <div class="control">
            {{#if supplier.name  }}
            <input class="input" type="text" name="supplier" placeholder="Company name" id="supplier" value="{{supplier.name}}" required>
            {{else }}
            <input class="input" type="text" name="supplier" placeholder="Company name" id="supplier" required>
            {{/if  }}
          </div>
        </div>

        <div class="field">
          <label class="label">Contact person</label>
          <div class="control">
            {{#if supplier.contactperson  }}
            <input class="input" type="text" name="contactperson" id="contactperson" placeholder="full-name" value="{{supplier.contactperson}}" required>
            {{else }}
            <input class="input" type="text" name="contactperson" id="contactperson" placeholder="full-name" required>
            {{/if }}
          </div>
        </div>

        <div class="field">
          <label class="label">Telephone</label>
          <div class="control">
            {{#if supplier.tel_1 }}
            <input class="input" type="number" placeholder="Tel 1" name="tel_1" id="tel_1" value="{{ supplier.tel_1 }}" required>
            {{else }}
            <input class="input" type="number" placeholder="Tel 1" name="tel_1" id="tel_1" required>
            {{/if }}
            {{#if supplier.tel_2 }}
            <input class="input" type="number" placeholder="Tel 2" name="tel_2" id="tel_2" value="{{ supplier.tel_2 }}" required>
            {{else }}
            <input class="input" type="number" placeholder="Tel 2" name="tel_2" id="tel_2" required>
            {{/if }}
          </div>
        </div>

        <div class="field">
          <label class="label">Fax</label>
          <div class="control">
            {{#if supplier.fax }}
            <input class="input" type="number" placeholder="Fax number" name="fax" id="fax" value="{{supplier.fax}}" required>
            {{else }}
            <input class="input" type="number" placeholder="Fax number" name="fax" id="fax" required>
            {{/if }}
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            {{#if supplier.email }}
            <input class="input is-danger" type="email" placeholder="Email input" value="{{supplier.email}}" name="email" id="email" required>
            {{else }}
            <input class="input is-danger" type="email" placeholder="Email input" value="hello@" name="email" id="email" required>
            {{/if }}
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
        </div>
      </div>

      <div class="column">
            <div class="field">
              <label class="label">Address</label>
              <div class="control">
                <textarea class="textarea" placeholder="Address textarea" id="address" name="address" required>{{#if supplier.address}}{{supplier.address}}{{/if}}</textarea>
              </div>
            </div>

        <div class="field">
          <label class="label">Other/ LINE ID/ remarks</label>
          <div class="control">
            <textarea class="textarea" placeholder="remarks" name="other" id="other" required>{{#if supplier.other}}{{supplier.other}}{{/if}}</textarea>
          </div>
          </div>

        <div class="field">
          <label class="label">Supplier type</label>
          <div class="control">
            <div class="select">
              <select id="supplier_type" name="supplier_type">
                <option value="Paper">Paper</option>
                <option value="Priting machine">Printing machine</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
        <div class="control">
        <label class="radio">
          <input type="radio" name="is_active" value="1">
          Enable
        </label>
        <label class="radio">
          <input type="radio" name="is_active" value="2">
          Disable
        </label>
        </div>
        </div>

        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <button type="submit" id="btn_save" class="button is-primary"><i class="fas fa-paper-plane"></i> Submit</button>
          </div>
          <div class="control">
            <button class="button is-danger"><i class="fas fa-times"></i> Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  
</section>
<script src="../../javascripts/pages/supplier/add.js"></script>
